<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ name }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="containerCenter">
    <strong class="capitalize">{{ name }}</strong>
    <p>
      Explore
      <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a>
    </p>
    <ion-button [routerLink]="['/login']" routerLinkActive="router-link-active">Login</ion-button>
    <ion-button [routerLink]="['/profile']" routerLinkActive="router-link-active">Profile</ion-button>
    <ion-button (click)="auth.signOut()">Log Out</ion-button>
  </div>
</ion-content>
